<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello UltimatePhoenixBoilerplate!</title>
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->



    <%= if Mix.env in [:dev, :test] do %>
      <!-- This will load assets from the webpack dev server when running in dev/test mode -->
      <script src='http://localhost:4002/app.bundle.js'></script>
    <% else %>
      <script src="<%= static_path(@conn, "/js/app.bundle.js") %>"></script>
    <% end %>

  </body>
</html>
